doctype html
html
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sopa de Letras
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles_perfil.css') 
    
  body
      #container1
        .row
           .col-sm-6.col-md-6
                .row
                   .col-sm-4.col-md-4
                        img#perfil(src='/images/perfil.png', alt='sopa')               
                   #datos_usuario.col-sm-8.col-md-8
                        #nickname_div
                            h3 #{nickname}
                            h4 #{nombre}
                            h4 #{correo}
                        br.hidden-xs 
                        #boton
                            button.btn.btn-labeled.btn-info(type='button', onclick="actualizarDatos()")
                              span.btn-label.glyphicon.glyphicon-pencil
                                i
                              |  Actualizar
                br.visible-xs
                .row#inferior
                    .col-sm-1.col-md-1
                    .col-sm-4.col-md-4.text-center#div_puntos
                       br
                       a(href="/sopas/ver", style="color: black; font-weight: bold;") Ver sopas públicas                             
                    .col-sm-2.col-md-2
                    .col-sm-4.col-md-4.text-center#div_sopas
                        h3 SOPAS
                        h4= results.length
                    .col-sm-1.col-md-1
           br.visible-xs
           br.visible-xs                     
           .col-sm-6.col-md-6
                h2 MIS SOPAS
                #mis_sopas
                    - if(results == ""){
                        
                        #sopa(style="margin-top: 30px;")
                           .info
                                h3 NO TIENE SOPAS CREADAS
                    - }else {
                        - for(var i = 0, len = results.length; i < len; i++) {
                            #sopa
                                .info
                                    h3= results[i].titulo.toUpperCase()
                                    p= results[i].descripcion

                                    a(href="#", style="margin-right: 20px;").glyphicon.glyphicon-play-circle
                                    a(href="#").glyphicon.glyphicon-share-alt
                            - }
                    - }
    
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery.nicescroll.min.js')
    script(src='/javascripts/bootstrap.js') 
        
    