doctype html
html
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sopa de Letras
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles_perfil.css') 
    
  body
      #container1
        .row
           .col-sm-6.col-md-6
                .row
                   .col-sm-4.col-md-4
                        img#perfil(src='/images/perfil.png', alt='sopa')               
                   #datos_usuario.col-sm-8.col-md-8
                        #nickname_div
                            h3 #{nickname}
                            h4 #{nombre}
                            h4 #{correo}
                        br.hidden-xs 
                        #boton
                            button.btn.btn-labeled.btn-info(type='button', data-toggle='modal', data-target='#actualizar')
                              span.btn-label.glyphicon.glyphicon-pencil
                                i
                              |  Actualizar

                            button.btn.btn-labeled.btn-danger(type='button', onclick="cerrarSesion()")
                              span.btn-label.glyphicon.glyphicon-lock   
                                i                                                         
                              |  Cerrar sesión
                br.visible-xs
                .row#inferior
                    .col-sm-1.col-md-1
                    .col-sm-4.col-md-4.text-center#div_puntos
                       br
                       a(href="/sopas/ver", style="color: black; font-weight: bold;") Ver sopas públicas                             
                    .col-sm-2.col-md-2
                    .col-sm-4.col-md-4.text-center#div_sopas
                        h3 SOPAS
                        h4= results.length
                    .col-sm-1.col-md-1
           br.visible-xs
           br.visible-xs                     
           .col-sm-6.col-md-6
                h2 MIS SOPAS
                #mis_sopas
                    - if(results == ""){
                        
                        #sopa(style="margin-top: 30px;")
                           .info
                                h3 NO TIENE SOPAS CREADAS
                    - }else {
                        - for(var i = 0, len = results.length; i < len; i++) {
                            #sopa
                                .info
                                    h3= results[i].titulo.toUpperCase()
                                    p= results[i].descripcion

                                    a(href="#").glyphicon.glyphicon-share-alt
                            - }
                    - }
    
        // Modal
        #actualizar.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3.modal-title(style="text-align: center; font-weight: bold; color: black;") Actualizar datos
              .modal-body(style="color:black; font-size:100%;")
                form.contenedor(id='registrar-form', method='POST', action='/usuarios/actualizar')
                  .form-group
                    label#namelabel(for='name') Nombre
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-envelope
                      input#name.form-control(type='text', maxLength= '20', name='name', pattern='[A-Za-z]{4,}+\d+[A-Za-z]{4,}', title='Nombre', value='#{nombre}', required='')
                  .form-group
                    label#nicknamelabel(for='nickname') Nombre de usuario
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-user
                      input#nickname.form-control(type='text', , maxLength= '10' name='nickname', pattern='[A-Za-z]{4,}+\d+[A-Za-z]{4,}', required='', value='#{nickname}')
                  .form-group
                    label#passlabel(for='password') Contraseña
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-lock
                      input#password.form-control(type='password', maxLength= '20', name='password', title='Contraseña', required='')
                  br
                  br  
                  input#crear.btn.btn-success.btn-block(type='submit', value='Ok')
              .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal') Close

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery.nicescroll.min.js')
    script(src='/javascripts/bootstrap.js') 
    script(src='/javascripts/perfil.js') 

        
    